# ==== UVICORN ====
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000

# ==== ELASTIC ====
ELASTIC_HOST=test_elasticsearch
ELASTIC_PORT=9200

# ==== POSTGRES ====
POSTGRES_HOST=test_db
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ==== REDIS ====
REDIS_HOST=test_redis
REDIS_PORT=6379

# ==== TESTS ===
TEST_ES_HOST=http://test_elasticsearch:9200
TEST_REDIS_HOST=test_redis
TEST_REDIS_PORT=6379
TEST_SERVICE_URL=http://test_app:8000
