pydantic==2.8.2
pydantic-settings==2.4.0
redis==5.0.8
fastapi==0.112.2
orjson==3.10.7
starlette==0.38.2
typing_extensions==4.9.0
urllib3==2.2.1
uvicorn==0.24.0
uvloop==0.17.0
yarl==1.9.4
python-dotenv==1.0.1
python-multipart==0.0.9
sqlalchemy==2.0.30
asyncpg==0.29.0
alembic==1.13.1
psycopg==3.1.12
psycopg2-binary==2.9.5
shortuuid==1.0.13
greenlet==2.0.2
Werkzeug==3.0.4